<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{> header}}
            <p> This web application was created by Mirlind Murati. It uses data from mapbox.com and weatherstack.com </p>
            <!-- <img src="/img/me.jpg" class="portrait">  -->
            <p>You can reach me on my <a href="https://www.linkedin.com/in/mirlind-murati-747428159/">LinkedIn</a>!</p>
            <br>
            <p>Email me at: mirlindmurati@outlook.com</p>
       
        </div>
        
        {{>footer}}
    </body>
</html>